

<hibernate-configuration>
    <session-factory>

        <!-- Database Connection -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/inventorydb
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Ayesha@786</property>

        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Mapping -->
        <mapping class="com.klu.HibernateInventory.entity.Product"/>

    </session-factory>
</hibernate-configuration>